@import url("https://font.googleapis.com/css2?family=Lato:wgh@300;400;700&display=swap"); 
 

  
  /* general styles */
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
  }
  
  .text-primary-p {
    color: #a5aaad;
    font-size: 14px;
    font-weight: 700;
  }
  
  .font-bold {
    font-weight: 700;
  }
  
  .text-title {
    color: #2e4a66;
  }
  
  .text-lightblue {
    color: #469cac;
  }
  
  .text-red {
    color: #cc3d38;
  }
  
  .text-yellow {
    color: #a98921;
  }
  
  .text-green {
    color: #3b9668;
  }
  
  
  
  @media only screen and (max-width: 978px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
        "nav"
        "main";
    }
  }